<div class="container">
	<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

		<div *ngFor="let row of divTemplate">
			<div class="form-group row">
				<label [for]="row.formControlName" class="col-3 col-form-label">{{row.label}}</label>
				<div class="col">
					<input [type]="row.inputType" [formControlName]="row.formControlName" class="form-control" [autocomplete]="row.autocomplete">
					<div [ngClass]="{'d-block': true, 'valid-feedback': getControl(row.formControlName).valid, 'invalid-feedback': getControl(row.formControlName).invalid}" *ngIf="getControl(row.formControlName).touched && getControl(row.formControlName).dirty" style="white-space: pre-wrap;">
						{{feedback(row.formControlName)}}</div>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col offset-3">
				<button type="submit" class="btn btn-primary">Sign Up</button>
				<div [ngClass]="{'d-block': true, 'valid-feedback': signupMessage?.valid, 'invalid-feedback': !signupMessage?.valid}" *ngIf="signupMessage !== null">{{signupMessage?.msg}}</div>
			</div>
		</div>
	</form>
</div>