<mat-card class="addTaskCard">
	<mat-card-header>
		<mat-card-title>Add New Task</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<form id="addTaskForm" class="addTaskForm" [formGroup]="form">
			<p>
				<mat-form-field appearance="fill" hintLabel="Employee ID">
					<mat-label>ID</mat-label>
					<input matInput formControlName="id" placeholder="1234567">
					<mat-error *ngIf="id.invalid">Invalid input</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" hintLabel="Employee Name">
					<mat-label>Name</mat-label>
					<input matInput formControlName="name" placeholder="Jamie Doe">
					<mat-error *ngIf="task.invalid">Invalid input</mat-error>
				</mat-form-field>
				<mat-form-field appearance="fill" hintLabel="Task Due Date">
					<mat-label>Deadline</mat-label>
					<input matInput formControlName="deadline" [matDatepicker]="picker">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
					<mat-error *ngIf="task.invalid">Invalid input</mat-error>
				</mat-form-field>
			</p>

			<p>
				<mat-form-field appearance="fill" hintLabel="Task Description">
					<mat-label>Name</mat-label>
					<textarea matInput formControlName="task" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="5" placeholder="Do task"></textarea>
					<mat-error *ngIf="task.invalid">Invalid input</mat-error>
				</mat-form-field>
			</p>
		</form>
	</mat-card-content>
	<mat-card-actions>
		<button (click)="onSubmit($event)" mat-raised-button color="primary">Add</button>
		<button type="reset" form="addTaskForm" mat-raised-button color="warn">Reset</button>
	</mat-card-actions>
</mat-card>