<form [formGroup]="form" (submit)="onSubmit()">
	<div class="form-group">
		<label for="quizzes">Available Quizzes</label>
		<select name="quizzes" id="quizzes" formControlName="quiz" class="custom-select">
			<option value="placeholder" selected>Quizzes...</option>
			<option *ngFor="let quizName of availableQuizzes" [ngValue]="quizName">{{quizName}}</option>
		</select>
		<div *ngIf="form.invalid && form.touched" class="invalid-feedback d-block">
			Please select a valid quiz.
		</div>
	</div>
	<button type="submit" class="btn btn-primary">Start</button>
</form>